[toolchain]
anchor_version = "0.31.1"
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
crud_app = "Ewj4A5kLpcoe3Y8DrrohWuCFgtfkFG6F7D7cr3viweXY"

[programs.devnet]
crud_app = "Ewj4A5kLpcoe3Y8DrrohWuCFgtfkFG6F7D7cr3viweXY"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "echo 'No JS tests configured yet'"
